:root {
    --primary-text-color: #2E2F42;
    --link-color: #434455;
    --logo-btn-color: #4D5AE5;
    --hover-focus-color: #404BBF;
    --footerlogo-bcg-color: #F4F4FD;
    --white-color: #ffffff;
    --filter-btn: #E7E9FC;
    --hover-footer: #31D0AA;

}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* контейнер задає область контенту */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* приховати підкреслення/крапку */
.point {
    text-decoration: none;
    list-style-type: none;
}

/* header */
header {
    border-bottom: 1px solid var(--filter-btn);
}

/* header logo */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
}

.header-logo {
    color: var(--primary-text-color);
}

.header-div {
    display: flex;
    align-items: center;
}

/* footer logo */
.footer-logo {
    color: var(--footerlogo-bcg-color);
}

/* header-menu */
.menu-list {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    margin-left: 76px;
}

.menu-link {
    color: var(--primary-text-color);
    display: block;
    padding: 24px 0;
    margin-right: 40px;
    position: relative;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--hover-focus-color);
}

/* підкреслення поточної сторінки */
.current {
    color: var(--hover-focus-color);
}

.menu-link.current::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--hover-focus-color);
}

/* header contact */

.contact {
    margin-left: auto;
}

.contact-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    display: flex;
}

.contact-link {
    font-style: normal;
    color: var(--link-color);
    display: block;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}

.contact-items {
    margin-right: 40px;
}

/* hero */

.hero {
    background-color: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office\ 1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.backdrop {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office\ 1.jpg);
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition-duration: 250ms;
    transition-property: background, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    letter-spacing: 0.04em;
}

/* quality */

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.quality-list {
    display: flex;
    gap: 24px;
}

.quality-items {
    flex-basis: calc((100% - 24px)/4);

}

.quality-title {
    margin-bottom: 8px;
}

.specialization {
    padding-top: 0;
}

.specialization-list {
    display: flex;
    gap: 24px;
}

/* team */

.team {
    background-color: var(--footerlogo-bcg-color);
}

.team-items {
    background-color: var(--white-color);
    flex-basis: calc((100%-72px)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.wrap {
    padding: 32px 0;
    text-align: center;
}

.team-text {
    margin-top: 8px;
}

.team-contacts {
    width: 40px;
    height: 40px;
    padding-left: 0;
}

.team-contacts-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 8px;
}

.team-contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--logo-btn-color);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-link:hover,
.team-contacts-link:focus {
    background-color: var(--hover-focus-color);
}

.team-contacts-icon {
    fill: var(--white-color);
}

/* customers */
.customers-list {
    display: flex;
}

.customers-items {
    flex-basis: calc((100% - 24px) / 5);
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    color: #8E8F99;
    transition-duration: 250ms;
    transition-property: color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color);
}

.customers-svg {
    fill: currentColor;
}

/* footer */

.foot {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-text {
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
}

.cont-foot {
    display: flex;
    gap: 80px;
}

/* footer social */
.foot-soc {
    color: var(--white-color);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    list-style: none;
    float: left;
}

.soc-text {
    color: var(--white-color);
    margin-bottom: 20px;
}

.foot-list {
    display: flex;
    gap: 20px;
    float: left;
}

.foot-soc:last-child {
    margin-right: 0;
}

.social-link {
    display: flex;
    fill: var(--white-color);
    background-color: var(--link-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--hover-footer);
}




/* portfolio*/

.filters-btn {
    background-color: var(--footerlogo-bcg-color);
    color: var(--logo-btn-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--filter-btn);
    border-radius: 4px;
    padding: 11px 23px;
    transition-duration: 250ms;
    transition-property: background, color, border-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    background: var(--hover-focus-color);
    color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.58);
    border-color: var(--hover-focus-color);
}

.portfolio {
    padding-top: 96px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filters-items {
    margin-right: 24px;
}

.filters-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.18);
}

.port-img {
    display: block;
    min-width: 100%;
    height: auto;
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.img-items {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link {
    display: block;
    position: relative;
}

.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms linear;
    background-color: hsla(235, 75%, 60%, 0.95);
    font-size: 20px;
    color: var(--white-color);
    padding-top: 40px;
    padding-left: 50px;
}

.port-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}

.delineation {
    padding: 32px 16px;
    border: 1px solid var(--filter-btn);
    border-top: none;
    color: var(--primary-text-color);
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--footerlogo-bcg-color);
}


/* modal window */
.backdrop-modal {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.subscribe-input {
    display: flex;
}

.subscribe-input [name=Subscribe] {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--primary-text-color);
    width: 264px;
    height: 40px;
    padding-left: 16px;
}

.subscribe-btn {
    position: relative;
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 165px;
    height: 40px;
    padding-right: 54px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background,
        box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    letter-spacing: 0.04em;
}

.svg-tg {
    position: absolute;
    top: 8px;
    right: 24px;
}

.send-btn {
    position: absolute;
    bottom: 24px;
    left: 119px;
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background,
        box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    letter-spacing: 0.04em;
}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 64px;
    padding-bottom: 12px;
    color: #2E2F42;
}

.modal-container {
    width: 360px;
    height: 336px;
    margin-left: 24px;
}

.input-modal {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 336px;
}

.input-list {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-list:hover,
.input-list:focus {
    color: var(--hover-focus-color);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-icon {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translate(-50%);
    fill: currentColor;
}

.input-item {
    width: 360px;
    height: 58px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.input-item-big {
    width: 360px;
    height: 120px;
    left: 0px;
    top: 216px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.checkbox {
    margin-top: 32px;
}

.modal-span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}